.Button{
   display: flex;
   flex-direction: row;
   justify-content: center;
   align-items: center;
   color: white;   
   font-size: larger; 
}
.Button :hover {
   cursor: pointer;
}
.Button .icon{
   width: 2rem;
   height: 2rem;
   margin-right: 0.5rem;
}