body {
  margin: 0; 
  background-image: url("./public/background.png");
  background-size: cover;
  
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.input{
  text-transform:uppercase;
}
